*.o
*.ll
/brio
/format
/stage*
/cache/*
/test/.lit_test_times.txt
/test/**/Output
/result
.direnv/
/brio-sema
/brio-coverage
mutated
/brio-lsp/brio-lsp
__pycache__/
/corpus
test/.inverted_test_times.txt
